.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  height: 800px;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
