.card-career {
  display: flex;
  align-items: center;
  height: 84px;
  width: 344px;
  gap: 12px;
  border-radius: 8px;
  padding: 8px;
  background: linear-gradient(
    90deg,
    rgba(12, 192, 223, 1) 0%,
    rgba(255, 222, 89, 1) 34%,
    rgba(255, 222, 89, 1) 100%
  );
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &__photo {
    height: 80px;
    width: 80px;
    flex-shrink: 0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #4a4844;
  }

  &__desc {
    font-size: 12px;
    font-weight: 700;
    color: #4a4844;
  }
}

.image {
  height: 800px;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
